<form method="post" enctype="multipart/form-data" action="/multi/choosed" >
<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">
            Upload Image For Blog
        </h3>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div id="file_upload-drop" class="uk-file-upload">

                    <a class="uk-form-file md-btn">Choose file<input  type="file" name ="file"></a>
                   <br>
                    <br>
                    <button type="submit" class="md-btn md-btn-primary">Done</button>

                </div>
                <div id="file_upload-progressbar" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width:0">0%</div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>