<h1>{{title}}</h1>

<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">

                        <td class="uk-text-small" ><a href="/login"><button class="md-btn md-btn-success" type="button" data-uk-button >LOGIN</button></a></td>
                        <br>
                        <hr>
                        <td class="uk-text-small" ><a href="/signup"><button class="md-btn md-btn-primary" type="button" data-uk-button >SignUp</button></a></td>

                        </div>
            </div>
        </div>

    </div>
</div>
</div>
